/*

!/.gitignore
!/pubspec.yaml
!/pubspec.lock
!/README.md
!/CHANGELOG.md
!/analysis_options.yaml

!/lib
/lib/generated
/lib/**/*.freezed.dart
/lib/**/*.g.dart
!/assets
/assets/**/*.precomputed
!/tool

!/.github
sentry.properties
